<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Stator_w_threshold" value="100"/>
		<add key="Stator_t_threshold" value="90"/>
		<add key="PM_threshold" value="85"/>
	</appSettings>
</configuration>